{% extends '::base.html.twig' %}

{% block title %} Admin Menu {% endblock %}
{% block stylesheets %}
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/garbodor/css/bootstrap.min.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/garbodor/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/garbodor/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="contenedor">
            <!-- Este es el Menu Principal -->
            <nav>
                <ul>
                    <li><a href="#" title="Inicio">Inicio</a></li>
                    <li><a href="#" title="Usuarios">Usuarios</a></li>
                    <li><a href="#" title="Motor">Motor</a></li>
                    <li><a href="#" title="Tareas">Tareas</a></li>
                    <li><a href="#" title="Crear Motor">Crear Motor</a>
						<ul>
                            <li><a href="#" title="submenu">CM</a></li>
                            <li><a href="#" title="submenu">submenu 2</a></li>
                            <li><a href="#" title="submenu">submenu 3</a></li>
                            <li><a href="#" title="submenu">submenu 4</a></li>
                        </ul>
					</li>	
                    <li><a href="#" title="Crear Usuarios">Crear Usuarios</a>
						<ul>
                            <li><a href="#" title="submenu">CU</a></li>
                            <li><a href="#" title="submenu">submenu 2</a></li>
                            <li><a href="#" title="submenu">submenu 3</a></li>
                            <li><a href="#" title="submenu">submenu 4</a></li>
                        </ul>
			
					</li>
                    <li><a href="#" title="Juan Miguel">Juan Miguel</a>
                        <ul>
                            <li><a href="#" title="submenu">submenu 1</a></li>
                            <li><a href="#" title="submenu">submenu 2</a></li>
                            <li><a href="#" title="submenu">submenu 3</a></li>
                            <li><a href="#" title="submenu">submenu 4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Contenido : AREA DE TRABAJO DEL USUARIO Y SUS OPCIONES -->
            <section id="contenido">
                <p id="titulo">Ultimos Movientos</p>
                <section id="areaDeTrabajo">
                    <table>
                        <tr>
                            <th>OT</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Responsable</th>
                            <th>Movimiento</th>
                            <th>Notas</th>
                        </tr>
                        <tr>
                            <td>123221</td>
                            <td>24 de Abril 2013</td>
                            <td>12:31</td>
                            <td>Eduardo Torres</td>
                            <td>Quitar Piea</td>
                            <td>Retiro de Cliente</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                        <tr>
                            <td>103321</td>
                            <td>24 de Abril 2013</td>
                            <td>15:24</td>
                            <td>Jefe de taller</td>
                            <td>Actualizar Estado</td>
                            <td>Se ha finalizado el motor</td>
                        </tr>
                    </table>
                </section>
                <button>Hoja de Programacion</button>
                <button>Hoja de Produccion</button>
            </section>
            <footer>
                <img id="logoPiddo" src="{{ asset('bundles/garbodor/img/logo.png') }}" alt="Logo Motores Piddo">
                <img id="garbodor" src="{{ asset('bundles/garbodor/img/Garbodor.gif') }}" alt="Garbodor">
            </footer>
        </div>
{% endblock %}

