{% extends '::base.html.twig' %}

{% block title %} Admin Home {% endblock %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{{ asset('bundles/garbodor/css/estilos.css') }}"> {% endblock %}
{% block body %}
    <header>
    	<img src="{{ asset('bundles/garbodor/img/logo.png') }}" />
    </header>
    <section>
    	<p>
    		Sitio en construcción, puede consultar el progreso en GitHub. <br />
            <a href="{{ path('admin_menu') }}">Menú</a> <br />
            <a href="{{ path('admin_menu_boostrap') }}">Menú Boostrap</a><br />
            <a href="{{ path('admin_menu_boostrap_sin_twig') }}">Menú Boostrap sin Twig</a>
    	</p>

    	<a href="http://draflaeon.github.io/Garbodor/"><img id="logoGitHub" src="{{ asset('bundles/garbodor/img/octocat.png') }}" /></a>

    	<p>Fecha de hoy: {{"now"|date("d/m/y")}}</p>
    </section>

    <footer>
    	<p>Sígueme en Twitter</p>
    	<a href="http://www.twitter.com/seba_gomez" target="_blank"><img id="twitter" src="{{ asset('bundles/garbodor/img/Twitter-Logo.jpg') }}" /></a>
    </footer>
{% endblock %}