{% extends '::base.html.twig' %}

{% block title %} Admin Menu {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/garbodor/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/garbodor/css/bsEstilos.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/garbodor/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/garbodor/js/bootstrap.js') }}"></script>
{% endblock %}
{% block body %}
    <!-- Este es el Menu Principal -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Boton home y Boton de menu colapsado -->
            <ul class="nav navbar-nav navbar-right navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false">Juan Miguel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Acción 1</a></li>
                        <li><a href="#">Acción 2</a></li>
                        <li><a href="#">Acción 3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Todo el resto de la barra -->
            <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <!-- Boton 2 -->
                    <li class="active">
                        <a href="#" title="Inicio">
                            Inicio<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- Boton 3 --> 
                    <li><a href="#" title="Usuarios">Usuarios</a></li>
                    <!-- Boton 4 --> 
                    <li><a href="#" title="Motor">Motor</a></li>
                    <!-- Boton 5 --> 
                    <li><a href="#" title="Tareas">Tareas</a></li>
                    <!-- Boton 6 --> 
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" title="Crear Motor">Crear Motor <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" title="submenu">CM</a></li>
                            <li><a href="#" title="submenu">submenu 2</a></li>
                            <li><a href="#" title="submenu">submenu 3</a></li>
                            <li><a href="#" title="submenu">submenu 4</a></li>
                        </ul>
                    </li>
                    <!-- Boton 7 --> 
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" title="Crear Usuarios">Crear Usuarios <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" title="submenu">CU</a></li>
                            <li><a href="#" title="submenu">submenu 2</a></li>
                            <li><a href="#" title="submenu">submenu 3</a></li>
                            <li><a href="#" title="submenu">submenu 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- Contenido : AREA DE TRABAJO DEL USUARIO Y SUS OPCIONES -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#contenido1" data-toggle="tab">Ultimos Movientos</a></li>
            <li><a href="#contenido2" data-toggle="tab">Hoja de Programacion</a></li>
            <li><a href="#contenido3" data-toggle="tab">Hoja de Produccion</a></li>
        </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="contenido1">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>OT</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Responsable</th>
                                    <th>Movimiento</th>
                                    <th>Notas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123221</td>
                                    <td>24 de Abril 2013</td>
                                    <td>12:31</td>
                                    <td>Eduardo Torres</td>
                                    <td>Quitar Piea</td>
                                    <td>Retiro de Cliente</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Se ha finalizado el motor</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="contenido2">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>OT</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Responsable</th>
                                    <th>Movimiento</th>
                                    <th>Notas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123221</td>
                                    <td>24 de Abril 2013</td>
                                    <td>12:31</td>
                                    <td>Eduardo Torres</td>
                                    <td>Quitar Piea</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Planificación</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="contenido3">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>OT</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Responsable</th>
                                    <th>Movimiento</th>
                                    <th>Notas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123221</td>
                                    <td>24 de Abril 2013</td>
                                    <td>12:31</td>
                                    <td>Eduardo Torres</td>
                                    <td>Quitar Piea</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                <tr>
                                    <td>103321</td>
                                    <td>24 de Abril 2013</td>
                                    <td>15:24</td>
                                    <td>Jefe de taller</td>
                                    <td>Actualizar Estado</td>
                                    <td>Hoja de Producción</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <footer>
            <img id="logoPiddo" src="{{ asset('bundles/garbodor/img/logo.png') }}" alt="Logo Motores Piddo">
            <img id="garbodor" src="{{ asset('bundles/garbodor/img/Garbodor.gif') }}" alt="Garbodor">
        </footer>
    </div>
{% endblock %}

